[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "4.1.3"
django-environ = "*"
dj-database-url = "*"

[dev-packages]
autopep8 = "2.0.0"

[requires]
python_version = "3.10"
